.card {
    margin: auto;
    margin-top: 12%;
    max-width: 400px;
    border: 2px solid rgb(194, 194, 194);
    background-color: rgb(236, 236, 236);
    padding: 15px;
}

button {
    margin-top: 10px;
}

form {
    margin: 0;
}